@import '../../styles/variables.scss';

.stripe {
    min-height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    background-position: center;
    background-size:cover;
    position: relative;

    &__filter {
        position: absolute;
        width:100%;
        height:100%;
        background-color: #FFFFFF;
        opacity: 0.65;
    }

    h2 {
        font-size:30px;
        letter-spacing: 5px;
        z-index: 1000;
    }

    @include media-tablet {
        border: 0;
        border-right: 1px solid black;
        width:25vw;

        h2 {
            rotate: -90deg;
            flex: 0 0 auto;
            font-size: 65px;

            &:hover {
                cursor: pointer;
                color:white;
            }
        }
    }

    @include media-desktop {
        min-width:20vw;
    }
}