@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

body {
  color: black;
  background: white;
}

.dark body {
  color: white;
  background: black;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .my-masonry-grid {
    margin-left: -5px;
  }
  .my-masonry-grid_column {
    padding-left: 5px;
  }
  .my-masonry-grid_column > div {
    margin-bottom: 5px;
  }
}